<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzl.fresh.mapper.SysUserGroupMapper">

    <select id="getGroupByUserId" resultType="com.hzl.fresh.entity.SysGroup">
        SELECT hzl_sys_group.* FROM hzl_sys_user_group LEFT JOIN hzl_sys_group ON group_id=id WHERE user_id = #{userId} and id is not null;
    </select>
</mapper>
